html {
    background-color: #153640;
    font-family: Helvetica;
   
}

h1 {
    font-size: 50px;
    color:#659DBD;
    text-align: center;
    font-family: Helvetica;
    border: 2mm;
    border-style: double;
    
}

h2 {
    font-size: 25px;
    text-align: left;
    text-indent: 5px;
    color: white;
    text-decoration: underline;
}

body {
    font-size: 20px;
    color: whitesmoke;
    
}



